<style>
    /* Estilos adicionales */
    body {
      background-color: #f8f9fa;
    }
    .jumbotron {
      background-color: #ffffff;
      border-radius: 20px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }
    .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
    .btn-outline-primary {
      color: #007bff;
      border-color: #007bff;
    }
    .btn-outline-primary:hover {
      color: #0056b3;
      border-color: #0056b3;
    }
  </style>

<main class="index">
    <header class="masthead d-flex justify-content-center align-items-center">
        <div class="container py-5">
            <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="jumbotron text-center">
                <h1 class="mb-4">Bienvenido al Diagramador UML de Secuencia</h1>
                <p class="lead mb-4">Un software colaborativo para crear y compartir diagramas de secuencia de forma sencilla.</p>
                <a href="/signin" class="btn btn-primary btn-lg me-3">Comienza aquí</a>
                <a href="/signup" class="btn btn-outline-primary btn-lg">¿Aún no tienes una cuenta? Regístrate</a>
                </div>
            </div>
            </div>
        </div>
    </header>
</main>
